.planetrotate{
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    animation: rotation 10s infinite linear;

    transition: all .4s ease-in-out;
  }
  @keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

.planetrotate.big{
    height: auto;
    width: 100%;
    top: -50vw;
    left: 0px;
    display: flex;
    position: relative;
}

.planetrotate img{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    font-size: 30px;
}

.planetrotate:hover{
    filter:
    drop-shadow(0 0 6px whitesmoke)
    drop-shadow(-1px 0 6px darkgray)
    drop-shadow(0 -1px 8px gray)
    drop-shadow(0 0 15px transparent);
    transform: scale(1.1) rotate(-25deg);
    cursor: pointer;
}

.planetrotate.sun{
    height: auto;
    width: 25%;
    left: calc(50vw - 12.5%);
    top: calc(50vh - 12.5%);
    transform: none;
}
.planetrotate.big:hover{
    transform: none !important;
}

.planetrotate.moon{
    position: absolute;
} 
