.planetrotate{
    height: 200px;
    width: 200px;
    position: absolute;
    display: flex;
    flex-wrap: inherit;
    animation: rotation 10s infinite linear;
    transition: all .4s ease-in-out;
  }
  @keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
  }

.planetrotate.big{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.planetrotate img{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 30px;
}

.planetrotate:hover{
    filter:
    drop-shadow(0 0 6px whitesmoke)
    drop-shadow(-1px 0 6px darkgray)
    drop-shadow(0 -1px 8px gray)
    drop-shadow(0 0 15px transparent);
    transform: scale(1.1) rotate(-25deg);
    cursor: pointer;
}

.planetrotate.sun{
    height: 750px;
    width: 750px;
    right: calc(50vw - 375px);
    top: calc(50vw - 375px);
}
.mercury{
    right: 50vw;
    top: 500px;
}
.venus{
    right: 50vw;
    top: 1000px;
}
.earth{
    right: 50vw;
    top: 1500px;
}
.earth.gallery{
    
}
@keyframe earthOrbit{
    %10{

    }
    ½20{

    }
    ½30{

    }
    ½40{

    }
    ½50{

    }
    ½60{

    }
    ½70{

    }
    ½80{

    }
    ½90{

    }
    ½100{

    }
}
.moon{
    right: 50vw;
    top: 1750px;
    margin-top: 10px;
}
.mars{
    right: 50vw;
    top: 2000px;
}
.jupiter{
    right: 50vw;
    top: 2500px;
}
.saturn{
    right: 50vw;
    top: 3000px;
}
.uranus{
    right: 50vw;
    top: 3500px;
}
.neptun{
    right: 50vw;
    top: 4000px;
}
.pluto{
    right: 50vw;
    top: 4500px;
}