.planetrotate{
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    animation: rotation 10s infinite linear;
    transition: all .4s ease-in-out;
  }
  @keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

.planetrotate img{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.planetrotate:hover{
    filter:
    drop-shadow(0 0 6px whitesmoke)
    drop-shadow(-1px 0 6px darkgray)
    drop-shadow(0 -1px 8px gray)
    drop-shadow(0 0 15px transparent);
    transform: scale(1.1) rotate(-25deg);
    cursor: pointer;
}

.planetbender{
    display: flex;
    height: 1000pc;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}