
body{
    background-image: url("./Pics/bgspc.gif");
    overflow-x: hidden;
}

.display{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.display img{
    width: 100%;
    height: auto;
}

.earthwrapper{
    transform: translateY(-50%);
}
.earth{
    height: auto;
      width: 100%;
      left: 0px;
      display: flex;
      position: relative;
      animation: earthRotate 40s infinite linear;
      transition: .4s ease-in-out;
  }
  @keyframes earthRotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

.aurora{
	/* background:url(./Pics/aaaaauroraaaa.png) repeat-x 0 / 100% auto; */
    background-image: url(./Pics/aaaaauroraaaa.png);
    background-position: 0;
    background-size: 100%;
    background-repeat: repeat-x;
	width: 100%;
    height: 40vh;
	animation: loop 20s linear infinite ;
}
@keyframes loop{
	0%{background-position: 0 50%;}
	100%{background-position: 100vw 50%;}
}
.item.aurora{
    width: 100%;
    height: 40vh;
}

.distanceMatter{
    color: aliceblue;
    width: 200px;
    height: 8000px;
    position: absolute;
    left: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item{
    height: 1000px;
    width: 1000px;
}

.spacewrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
